/* CSS Document */

/* ------------------------*/ /* ---------->>> LAYOUT <<<-----------*/ /* ------------------------*/
body {
	font-family: "Segoe UI", Segoe, "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	background-color: #fff;
}

#wrapper {
	margin: 0;
	padding: 0;
	background: #f1f3f6;
	border-left: 1px solid #e4e5e7;
	transition: all 0.4s ease 0s;
	position: relative;
	min-height: 100%;
}

#header {
	background-color: #1c272a;
	display: block;
	height: 52px;
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	border-bottom: 1px solid #000;
}

.lineBreak {
	display: block;
	margin: 0.5em 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
}

#title {
	padding-bottom: 15px;
	padding-top: 30px;
}

.title {
	font-size: 60px;
}

/* ------------------------*/ /* ---------->>> Navigation bar <<<-----------*/ /* ------------------------*/
#mainNav {
	background-color: #1c272a;
}

#nav-menu {
	background-color: #1v272a;
	position: relative; /* <-- Added */
	z-index: 11;  /*<-- Added */
}

#nav-menu li a {
	color: white;
	text-transform: uppercase;
}

#nav-menu li.active a, #nav-menu li:hover a {
	color: #fff700;
	background: #1c272a;
}

#nav-menu.nav > li > a:hover, #nav-menu.nav > li > a:focus {
	background: #1c272a;
}

#navigation li a {
	padding-left: 25px;
	font-size: medium;
	border-bottom: 1px solid #d5d5cd;
	border-left: 1px solid #000;
}
/* ------------------------*/ /* ---------->>> Main Page <<<-----------*/ /* ------------------------*/

.top-container {
	padding-left: 0px;
}

#logo {
	position: relative;
	float: left;
	width: 150px;
	color: white;
	padding: 10px 10px 25px 10px;
	height: 150px;
}
/* ------------------------*/ /* ---------->>> Portfolio Gallery <<<-----------*/ /* ------------------------*/
.gallery-title {
	font-size: 36px;
	color: #42b32f;
	text-align: center;
	font-weight: 500;
	margin-bottom: 70px;
}

.gallery-title:after {
	content: "";
	position: absolute;
	width: 7.5%;
	left: 46.5%;
	height: 45px;
	border-bottom: 1px solid #5e5e5e;
}

.gallery_product {
	margin-bottom: 30px;
}

.portolio_text {
	font-size: 20px;
}
